app/config/config.json
sitemap.xml*
upload/files/*
upload/images/*
uploads/img/*
!/uploads/img/index.php
backup/*
!/backup/index.php
cache/*
!/cache/index.php
.autogit
*.js
*.css
admin/*.js
admin/*.css