html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
body, html {
    height: 100%;
}
.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}
@media (min-width:768px){
.container{width:750px}
}
@media (min-width:992px){
.container{width:970px}
}
@media (min-width:1200px){
.container{width:1170px}
}
.container-fluid{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}
.row{margin-left:-15px;margin-right:-15px}
.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{position:relative;min-height:1px;padding-left:15px;padding-right:15px}
@media (min-width:768px){
.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}
.col-sm-12{width:100%}
.col-sm-11{width:91.66666667%}
.col-sm-10{width:83.33333333%}
.col-sm-9{width:75%}
.col-sm-8{width:66.66666667%}
.col-sm-7{width:58.33333333%}
.col-sm-6{width:50%}
.col-sm-5{width:41.66666667%}
.col-sm-4{width:33.33333333%}
.col-sm-3{width:25%}
.col-sm-2{width:16.66666667%}
.col-sm-1{width:8.33333333%}
.col-sm-pull-12{right:100%}
.col-sm-pull-11{right:91.66666667%}
.col-sm-pull-10{right:83.33333333%}
.col-sm-pull-9{right:75%}
.col-sm-pull-8{right:66.66666667%}
.col-sm-pull-7{right:58.33333333%}
.col-sm-pull-6{right:50%}
.col-sm-pull-5{right:41.66666667%}
.col-sm-pull-4{right:33.33333333%}
.col-sm-pull-3{right:25%}
.col-sm-pull-2{right:16.66666667%}
.col-sm-pull-1{right:8.33333333%}
.col-sm-pull-0{right:auto}
.col-sm-push-12{left:100%}
.col-sm-push-11{left:91.66666667%}
.col-sm-push-10{left:83.33333333%}
.col-sm-push-9{left:75%}
.col-sm-push-8{left:66.66666667%}
.col-sm-push-7{left:58.33333333%}
.col-sm-push-6{left:50%}
.col-sm-push-5{left:41.66666667%}
.col-sm-push-4{left:33.33333333%}
.col-sm-push-3{left:25%}
.col-sm-push-2{left:16.66666667%}
.col-sm-push-1{left:8.33333333%}
.col-sm-push-0{left:auto}
.col-sm-offset-12{margin-left:100%}
.col-sm-offset-11{margin-left:91.66666667%}
.col-sm-offset-10{margin-left:83.33333333%}
.col-sm-offset-9{margin-left:75%}
.col-sm-offset-8{margin-left:66.66666667%}
.col-sm-offset-7{margin-left:58.33333333%}
.col-sm-offset-6{margin-left:50%}
.col-sm-offset-5{margin-left:41.66666667%}
.col-sm-offset-4{margin-left:33.33333333%}
.col-sm-offset-3{margin-left:25%}
.col-sm-offset-2{margin-left:16.66666667%}
.col-sm-offset-1{margin-left:8.33333333%}
.col-sm-offset-0{margin-left:0}
}
@media (min-width:992px){
.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}
.col-md-12{width:100%}
.col-md-11{width:91.66666667%}
.col-md-10{width:83.33333333%}
.col-md-9{width:75%}
.col-md-8{width:66.66666667%}
.col-md-7{width:58.33333333%}
.col-md-6{width:50%}
.col-md-5{width:41.66666667%}
.col-md-4{width:33.33333333%}
.col-md-3{width:25%}
.col-md-2{width:16.66666667%}
.col-md-1{width:8.33333333%}
.col-md-pull-12{right:100%}
.col-md-pull-11{right:91.66666667%}
.col-md-pull-10{right:83.33333333%}
.col-md-pull-9{right:75%}
.col-md-pull-8{right:66.66666667%}
.col-md-pull-7{right:58.33333333%}
.col-md-pull-6{right:50%}
.col-md-pull-5{right:41.66666667%}
.col-md-pull-4{right:33.33333333%}
.col-md-pull-3{right:25%}
.col-md-pull-2{right:16.66666667%}
.col-md-pull-1{right:8.33333333%}
.col-md-pull-0{right:auto}
.col-md-push-12{left:100%}
.col-md-push-11{left:91.66666667%}
.col-md-push-10{left:83.33333333%}
.col-md-push-9{left:75%}
.col-md-push-8{left:66.66666667%}
.col-md-push-7{left:58.33333333%}
.col-md-push-6{left:50%}
.col-md-push-5{left:41.66666667%}
.col-md-push-4{left:33.33333333%}
.col-md-push-3{left:25%}
.col-md-push-2{left:16.66666667%}
.col-md-push-1{left:8.33333333%}
.col-md-push-0{left:auto}
.col-md-offset-12{margin-left:100%}
.col-md-offset-11{margin-left:91.66666667%}
.col-md-offset-10{margin-left:83.33333333%}
.col-md-offset-9{margin-left:75%}
.col-md-offset-8{margin-left:66.66666667%}
.col-md-offset-7{margin-left:58.33333333%}
.col-md-offset-6{margin-left:50%}
.col-md-offset-5{margin-left:41.66666667%}
.col-md-offset-4{margin-left:33.33333333%}
.col-md-offset-3{margin-left:25%}
.col-md-offset-2{margin-left:16.66666667%}
.col-md-offset-1{margin-left:8.33333333%}
.col-md-offset-0{margin-left:0}
}
.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.row:after,.row:before{content:" ";display:table}
.clearfix:after,.container-fluid:after,.container:after,.row:after{clear:both}
.center-block{display:block;margin-left:auto;margin-right:auto}
.pull-right{float:right!important}
.pull-left{float:left!important}
.hide{display:none!important}
.show{display:block!important}
.invisible{visibility:hidden}
.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}
.hidden{display:none!important}
.affix{position:fixed}
a{text-decoration:none}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
#topnav .form-search:after,#topnav .form-search:before,#topnav .logo-area:after,#topnav .logo-area:before,#topnav .userinfo li a:after,#topnav .userinfo li a:before,#topnav a.nav-username:after,#topnav a.nav-username:before,#topnav a.username:after,#topnav a.username:before,#topnav:after,#topnav:before,.btn-group-vertical>.btn-group:after,.btn-group-vertical>.btn-group:before,.btn-toolbar:after,.btn-toolbar:before,.card-weather .weather-heading .weather-heading-bottom:after,.card-weather .weather-heading .weather-heading-bottom:before,.card-weather .weather-heading .weather-heading-top:after,.card-weather .weather-heading .weather-heading-top:before,.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.dl-horizontal dd:after,.dl-horizontal dd:before,.form-horizontal .form-group:after,.form-horizontal .form-group:before,.gallery:after,.gallery:before,.infobar .widget-body:after,.infobar .widget-body:before,.modal-footer:after,.modal-footer:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.page-heading:after,.page-heading:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.panel-footer:after,.panel-footer:before,.panel-heading:after,.panel-heading:before,.panel:after,.panel:before,.row:after,.row:before,.sidebar nav.widget-body>ul.acc-menu li.hasChild>a:after,.sidebar nav.widget-body>ul.acc-menu li.hasChild>a:before,.timeline>li .timeline-footer:after,.timeline>li .timeline-footer:before,.timeline>li .timeline-header:after,.timeline>li .timeline-header:before,.widget-weather:after,.widget-weather:before{content:" ";display:table}
#topnav .form-search:after,#topnav .logo-area:after,#topnav .userinfo li a:after,#topnav a.nav-username:after,#topnav a.username:after,#topnav:after,.btn-group-vertical>.btn-group:after,.btn-toolbar:after,.card-weather .weather-heading .weather-heading-bottom:after,.card-weather .weather-heading .weather-heading-top:after,.clearfix:after,.container-fluid:after,.container:after,.dl-horizontal dd:after,.form-horizontal .form-group:after,.gallery:after,.infobar .widget-body:after,.modal-footer:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.page-heading:after,.pager:after,.panel-body:after,.panel-footer:after,.panel-heading:after,.panel:after,.row:after,.sidebar nav.widget-body>ul.acc-menu li.hasChild>a:after,.timeline>li .timeline-footer:after,.timeline>li .timeline-header:after,.widget-weather:after{clear:both}
.mb-md{margin-bottom:16px!important}
.form-horizontal .form-group{margin-left:-16px;margin-right:-16px}
.form-group{padding-bottom:7px;margin:28px 0 0 0}
.input-group .form-control,.input-group-addon,.input-group-btn{display:table-cell}
div#page-progress-loader{overflow:hidden;position:absolute;top:0;left:0;right:0;height:4px;z-index:100000;display:block}
div#page-progress-loader:after{content:"";height:3px;background:#e51c23;position:absolute;animation:loader 2s;-webkit-animation:loader 2s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;transition-timing-function:linear;-webkit-transition-timing-function:linear;top:0;left:0;width:100%;margin-left:0}
@-webkit-keyframes loader{
0%{-webkit-transform:translateX(-100%);transform:translateX(-100%)}
100%{-webkit-transform:translateX(100%);transform:translateX(100%)}
}
#topnav.navbar-blue{background:#0266a3}
#topnav{margin:0;border:none;box-shadow:0 1px 3px 0 rgba(0,0,0,.2);min-height:64px;width:100%;position:relative;top:0}
#topnav .navbar-brand img.show-on-collapse{-webkit-filter:brightness(0) invert(100%);filter:brightness(0) invert(100%);position:absolute;opacity:0;transition:opacity .3s linear;margin:0 auto;height:50px;left:7px;top:7px}
#topnav .navbar-brand.navbar-brand-primary .img-white{display:block}
#topnav .navbar-brand img.show-on-collapse.img-logo-dark{display:none}
#topnav .navbar-brand img:not(.show-on-collapse){-webkit-filter:brightness(0) invert(100%);filter:brightness(0) invert(100%);margin:0 auto;height:64px;transition:opacity .3s linear;opacity:1}
#topnav .navbar-brand.navbar-brand-primary .img-dark{display:none}
#topnav.navbar-blue .logo-area .toolbar-trigger a span.icon-bg i{color:#bbdefb}
#topnav.navbar-blue .toolbar-icon-bg>a span.icon-bg i,#topnav.navbar-blue .toolbar.pull-right .toolbar-icon-bg>a span.icon-bg i{color:#bbdefb}
#topnav .toolbar.pull-right .toolbar-icon-bg>a{padding:16px 8px}
#topnav .logo-area{display:block;float:left;height:64px}
#topnav .navbar-nav{margin:0}
#topnav .navbar-nav.toolbar>li{float:left;margin-right:0}
#topnav .toolbar-icon-bg{width:64px;transition-duration:.3s}
#topnav .logo-area>a,#topnav .logo-area>div,#topnav .logo-area>span{display:block;float:left}
#topnav .navbar-nav.toolbar>li>a{padding:14px 16px;font-weight:500}
.nav>li>a{position:relative;display:block;padding:14px 16px}
#wrapper{display:none}
#wrapper{display:table;width:100%;table-layout:fixed;overflow:auto;height:100%;position:relative}
#layout-static{display:table-row;height:100%}
.sidebar-bleachedcedar.fixed-sidebar,.sidebar-bleachedcedar.static-sidebar-wrapper{background-color:#37474f}
.static-sidebar,.static-sidebar-wrapper{width:240px;transition-duration:.3s}
.sidebar-scroll .static-sidebar{position:fixed!important;top:64px;bottom:0}
.static-sidebar-wrapper{display:table-cell;overflow:hidden}
.sidebar nav.widget-body>ul.acc-menu{white-space:normal;margin:0;padding-left:0!important;list-style-type:none;
    opacity: 0;}
.sidebar nav.widget-body>ul.acc-menu ul{padding:8px 0;padding-left:0!important;list-style:none}
.sidebar nav.widget-body>ul.acc-menu li a{display:block;padding:8px 16px;padding-top:12px;position:relative;font-weight:500;transition-duration:.3s;color:#fff}
.sidebar .widget .widget-body .userinfo .info{padding:8px 0 8px 0}
.sidebar .widget .widget-body .userinfo .info .username{font-size:18px;line-height:24px;display:block;text-align:left;padding-left:64px;color:rgba(255,255,255,.87)}
.sidebar .widget .widget-body .userinfo .info .useremail{font-size:11px;line-height:1.35;display:block;text-align:center;text-align:left;padding-left:64px;color:rgba(255,255,255,.87)}

.static-content-wrapper{background:#f5f5f5;position:relative;vertical-align:top;display:table-cell;width:100%}
.modal{display:none;overflow:hidden;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1250;-webkit-overflow-scrolling:touch;outline:0}
.container-fluid{margin-right:auto;margin-left:auto;padding-left:16px;padding-right:16px}
.panel{background-color:#fafafa;box-shadow:0 1px 6px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.12)!important;border-radius:2px;background-color:#fff;margin:0 0 32px 0}
.panel.panel-default{border-color:#fcfcfc}
.panel .panel-heading{color:#9e9e9e;background-color:#fafafa;padding:0 16px 0 16px;line-height:48px}
.panel.panel-default .panel-heading{color:#616161;background-color:#fcfcfc;border-color:#fcfcfc}
.table{width:100%;max-width:100%;margin-bottom:18px}
.panel .panel-body{background-color:#fff;font-size:13px;padding:16px}
.fc .fc-view>table,.table-bordered{border:1px solid #f1f1f1}
.panel .panel-body.no-padding>table>tbody>tr>td,.panel .panel-body.no-padding>table>thead>tr>th{padding:10px 16px}
.table-striped>tbody>tr.odd{background-color:#fcfcfc}
.input-group{position:relative;display:table;border-collapse:separate}
.input-group-addon{padding:5px 10px;font-size:13px;font-weight:400;line-height:1;color:#212121;text-align:center;background-color:#e0e0e0;border:1px solid #eee;border-radius:2px}
.form-control,.form-group .form-control{border:0;background-image:linear-gradient(#03a9f4,#03a9f4),linear-gradient(#d2d2d2,#d2d2d2);background-size:0 2px,100% 1px;background-repeat:no-repeat;background-position:center bottom,center calc(100% - 1px);background-color:rgba(0,0,0,0);transition:background 0s ease-out;float:none;box-shadow:none;border-radius:0}
.form-control{height:39px;padding:7px 0;font-size:16px;line-height:1.45}
.btn-group-raised .btn.btn-primary,.btn-group-raised .input-group-btn .btn.btn-primary,.btn.btn-fab.btn-primary,.btn.btn-raised.btn-primary,.input-group-btn .btn.btn-fab.btn-primary,.input-group-btn .btn.btn-raised.btn-primary{background-color:#03a9f4;color:rgba(255,255,255,.84)}
.btn,.input-group-btn .btn{border:none;border-radius:2px;position:relative;padding:8px 30px;margin:10px 1px;font-size:14px;font-weight:500;text-transform:uppercase;letter-spacing:0;will-change:box-shadow,transform;transition:box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);outline:0;cursor:pointer;text-decoration:none;background:0 0}
@media screen and (min-width: 768px){
    body.sidebar-collapsed .static-sidebar-wrapper, body.sidebar-collapsed .static-sidebar-wrapper>div.stay-on-collapse {
        white-space: nowrap;
        width: 64px;
        overflow: hidden;
    }
}
@media screen and (max-width: 768px){
    body.sidebar-collapsed .static-sidebar-wrapper {
        width: 0;
    }
}

/*!header,#wrapper,#contenido-principal{display: none;}*/
i{opacity:0}