@color_base: #ff9796;
@color_secundario: #ff8431;
@color_hover: #fff;
@color_hover_secundario: #611e23;
@background_hover: #d11201;
a:hover {
    color: @color_hover_secundario;
}

#cake header {
    background: @color_base;
    .top-header {
        height: auto;
    }
    .logo {
        img {
            margin: 0px;
            left: auto;
            width: auto;
            max-width: 100%;
            position: relative;
            top: 0px;
        }
        &:after {
            display: none;
        }
    }
}

#cake footer {
    background: @color_base;
    .footer-bottom {
        background: @color_secundario;
    }
}

#cake .btn {
    background: @color_base;
    cursor: pointer;
    &:hover {
        background: @background_hover;
        color: @color_hover;
    }
}

#cake .product-detail .btn {
    background: #f5f5f5;
}

#cake .card .btn, #cake .btn.btn-add-cart{
    background: @color_base;
    color: @color_hover;
    &:hover {
        background: @background_hover;
    }
}

#cake .cart .cart-item {
    background: @color_base;
}

#cake .banner .card {
    background: @color_base;
}


#header-top {
    background: @color_base;
}

.bg-line-w-2 {
    height: 15px;
    background-size: auto;
    -webkit-animation: arrows 1s infinite;
    animation: arrows 1s infinite;
}

@keyframes arrows {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 32px 0px;
    }
}

.carousel-indicators li {
    background: #fff;
    &.active {
        background: #999;
    }
}

.product .card {
    transition: 0.3s all ease;
    &:hover {
        box-shadow: 3px 3px 3px #e8e8e8;
    }
    img {
        width: auto;
    }
    .card-title {
        text-transform: capitalize;
    }
}

.product-filter {
    .iconc {
        &.active,
        &:hover {
            border-color: #8a8a8a;
        }
    }
}


@media (max-width: 767.98px) {
    #cake .product .card {
        text-align: center !important;
    }
}

@media all and (min-width: 600px) {
    .fancybox-custom-layout {
        /* Change color for backdrop */
        .fancybox-bg {
            background: #fff;
        }
        &.fancybox-is-open .fancybox-bg {
            opacity: 1;
        }
        /* Move caption area to the right side */
        .fancybox-caption {
            background: #f1ecec;
            bottom: 0;
            color: #6c6f73;
            left: auto;
            padding: 30px 20px;
            right: 44px;
            top: 0;
            width: 256px;
            h3 {
                color: #444;
                font-size: 21px;
                line-height: 1.3;
                margin-bottom: 24px;
            }
            a {
                color: #444;
            }
            /* Remove gradient from caption*/
            &::before {
                display: none;
            }
        }
        /* Adjust content area position */
        .fancybox-stage {
            right: 300px;
        }
        /* Align buttons at the right side  */
        .fancybox-toolbar {
            background: @color_base;
            bottom: 0;
            left: auto;
            right: 0;
            top: 0;
            width: 44px;
        }
        /* Remove background from all buttons */
        .fancybox-button {
            background: transparent;
            color: @color_hover
        }
        /* Navigation arrows */
        .fancybox-navigation .fancybox-button {
            div {
                padding: 2px;
            }
            &[disabled] {
                color: #ddd;
            }
            &:not([disabled]) {
                color: #333;
            }
        }
        /* Reposition right arrow */
        .fancybox-button--arrow_right {
            right: 308px;
        }
    }
}